---
import { Image } from 'astro:assets';
import Logo from '../images/logo.svg';

---

<header class="header">
  <div class="container">
    <div class="logo">
      <a href="/">
        <Image src={Logo} alt="Logo" style={{width: "100px", height: "auto"}}/>
      </a>
    </div>
    <nav>
      <ul class="desktop-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </ul>
    </nav>
    <p class="hamburger"> &#9776</p>
    <ul class="mobile-nav">
      <p class="close">&times;</p>
      <div>
        <li><a href="/">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blog">Blog</a></li>
      </div>
    </ul>
  </div>
</header>



<script>
  const hamburger = document.querySelector(".hamburger");
  const close = document.querySelector(".close");
  const mobileNav = document.querySelector(".mobile-nav")

  hamburger.addEventListener('click', () =>{
    mobileNav.classList.add('toggle')
  })

  close.addEventListener('click', () =>{
    mobileNav.classList.remove('toggle')
  })
</script>

